@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&display=swap');

/* Código para la parte del cuerpo y algunos elementos como h1, h2, etc */
body {

    display: block;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    color: black;

}
  
h1, h2 { 

    text-align: center;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 88px;
    font-weight: 800;
    color: white;  

}

/* Código del menú de navegación */
.nav {

    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #C33930;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
  
.menu-nav {

    display: flex;
    margin-right: 2rem;

}

.menu-nav li {

    list-style-type: none;
      
}

.menu-nav a {

    display: block;
    font-size: 36px;
    padding: 14px;
    text-decoration: none;
    color: white;

}


/* Código para la sección de bienvenida */
#welcome-section {

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35em;
    background-color: #505050;
    
}
  
#welcome-section > p {

    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: white;

}
  

/* Código para la sección de los proyectos */
#proyectos {
    text-align: center;
    padding: 50px 20px;
    background: #40567C;
  }
  
#proyectos header {
    font-size: 50px;
    color: white;
    max-width: 640px;
    margin: 0 auto 100px auto;
    border-bottom: 3px solid white;
  }

.grid-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 130px;
  }

.grid-container img {
      width: 550px;
      height: 450px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
}

.titulo-proyecto {

    width: 550px;
    height: 30px;
    margin-top: -3px;
    margin-left: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #505050;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
}

.btn-vertodos {

    display: inline-block;
    width: 10%;
    align-items: center;
    background: #505050;
    padding: 20px 20px;
    color: white;

}

a {
    text-decoration: none;
}

/* Código para la parte de contactar */
#contacto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 580px;
    padding: 0 2rem;
    background: #505050;
}

#contacto > h3 {

    font-size: 54px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#contacto > p {

    margin-top: 10px;
    font-size: 28px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.sitio-contacto {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 820px;
    margin-top: 3%;

}

#profile-link {
    font-size: 24px;
    margin-right: 10%;
    color: white;
}

#profile-link > i {
    margin-right: 7px;
}


/* Código CSS de la parte del Footer */
footer {
    
    display: flex;
    justify-content: space-evenly;
    font-weight: 200;
    border-top: 3px solid #C33930;
    background-color: #40567C;

}
  
footer > p {
    margin: 2%;
    color: white;
}

footer  a {
    color: white;
}
  
footer i {
    vertical-align: middle;
}
  


/* Código para que todas las imágenes y botones se ajusten a una pantalla más pequeña */
@media (max-width: 1280px) {
  
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 200px;
    }

    .grid-container img {
        width: 275px;
        height: 225px;
    }

    .titulo-proyecto {
        width: 64.5%;
        margin-left: 17.8%;
    }

    .btn-vertodos {

        width: auto;
    }

    .menu-nav a {
        font-size: 22px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

}

